:root{
	--main-length-min: 100vmin;
	--main-width: calc((var(--main-length-min, 600px) - 16px) * (75 / 104));
	--fila-heigh: calc(var(--main-width) / 5);
	--pato-lengthsquare: calc(var(--fila-heigh) * (4 / 5));
	--pelota-lengthsquare: calc(var(--fila-heigh) / 4);
	--shadow-length-1: calc(var(--fila-heigh) / 60);
	--shadow-length-2: calc(var(--fila-heigh) / 30);
	--shadow-length-4: calc(var(--fila-heigh) / 15);
	--shadow-length-8: calc(var(--fila-heigh) * (2 / 15));
	--pelota-shandow: var(--shadow-length-1) var(--shadow-length-4) var(--shadow-length-1) 0px #0008, inset calc(var(--shadow-length-1) * -1) calc(var(--shadow-length-4) * -1) var(--shadow-length-2) calc(var(--shadow-length-2) * -1) #0008;
}

body{margin: 8px;}

#Carnival-Booth {
	position: relative;
	margin: auto;
	width: var(--main-width);
	box-shadow: 0px var(--shadow-length-1) var(--shadow-length-1) #0008;
	overflow: hidden;
}

/* Patron principal */
#techo, #pared {
background:linear-gradient(0deg, rgba(0,0,0,0.0375), rgba(0,0,0,0.0625)),
			linear-gradient(90deg,
				red 0, red calc(100% / 9), white 0, white calc(200% / 9),
				red 0, red calc(300% / 9), white 0, white calc(400% / 9),
				red 0, red calc(500% / 9), white 0, white calc(600% / 9),
				red 0, red calc(700% / 9), white 0, white calc(800% / 9),
				red 0, red 100%);
}
#techo {
	display: flex;
	width: 100%;
	height: var(--fila-heigh);
}
.lr, .lb {
	display: block;
	float: left;
	width: calc(100% / 9);
	height: calc(var(--main-width) / 18);
	margin-top: calc(var(--fila-heigh) - 1px);
	border-top: 1px solid;
	border-bottom-left-radius: calc(var(--main-width) / 9);
	border-bottom-right-radius: calc(var(--main-width) / 9);
	box-shadow: var(--shadow-length-1) var(--shadow-length-1) var(--shadow-length-1) #0008;
	z-index: 2;
	transform-origin: 0% 0%;
	animation: viento 10s ease-in-out infinite alternate;
}
.lr {background-color: #ea0000;border-top-color: #ea0000;}
.lb {background-color: #eaeaea;border-top-color: #eaeaea;}

@keyframes viento {
	  0% {transform: scaleY(1.00);}
	  2% {transform: scaleY(0.98);}
	  4% {transform: scaleY(1.00);}
	  6% {transform: scaleY(0.99);}
	  8% {transform: scaleY(0.99);}
	 10% {transform: scaleY(1.00);}
	 12% {transform: scaleY(1.00);}
	 14% {transform: scaleY(1.00);}
	 16% {transform: scaleY(1.00);}
	 18% {transform: scaleY(0.96);}
	 20% {transform: scaleY(0.92);}
	 22% {transform: scaleY(0.98);}
	 24% {transform: scaleY(0.71);}
	 26% {transform: scaleY(0.95);}
	 28% {transform: scaleY(0.96);}
	 30% {transform: scaleY(0.93);}
	 32% {transform: scaleY(1.00);}
	 34% {transform: scaleY(0.98);}
	 36% {transform: scaleY(0.87);}
	 38% {transform: scaleY(0.98);}
	 40% {transform: scaleY(0.89);}
	 42% {transform: scaleY(0.90);}
	 44% {transform: scaleY(0.95);}
	 46% {transform: scaleY(0.77);}
	 48% {transform: scaleY(0.89);}
	 50% {transform: scaleY(0.99);}
	 52% {transform: scaleY(0.92);}
	 54% {transform: scaleY(0.97);}
	 56% {transform: scaleY(0.94);}
	 58% {transform: scaleY(0.70);}
	 60% {transform: scaleY(0.76);}
	 62% {transform: scaleY(0.79);}
	 64% {transform: scaleY(0.82);}
	 66% {transform: scaleY(0.96);}
	 68% {transform: scaleY(0.96);}
	 70% {transform: scaleY(0.98);}
	 72% {transform: scaleY(0.98);}
	 74% {transform: scaleY(0.97);}
	 76% {transform: scaleY(0.97);}
	 78% {transform: scaleY(0.95);}
	 80% {transform: scaleY(0.95);}
	 82% {transform: scaleY(0.98);}
	 84% {transform: scaleY(1.00);}
	 86% {transform: scaleY(0.97);}
	 88% {transform: scaleY(0.96);}
	 90% {transform: scaleY(0.95);}
	 92% {transform: scaleY(0.94);}
	 94% {transform: scaleY(0.94);}
	 96% {transform: scaleY(0.98);}
	 98% {transform: scaleY(0.99);}
	100% {transform: scaleY(1.00);}
}
#techo div:nth-of-type(1) {animation-delay:  0.0s;}
#techo div:nth-of-type(2) {animation-delay:  0.1s;}
#techo div:nth-of-type(3) {animation-delay:  0.2s;}
#techo div:nth-of-type(4) {animation-delay:  0.3s;}
#techo div:nth-of-type(5) {animation-delay: -3.0s;}
#techo div:nth-of-type(6) {animation-delay: -2.9s;}
#techo div:nth-of-type(7) {animation-delay: -2.7s;}
#techo div:nth-of-type(8) {animation-delay: -2.6s;}
#techo div:nth-of-type(9) {animation-delay: -2.5s;}

/* Zona de los objetivos */
#game {
	width:100%;
	background-color: skyblue;
	position:relative;
}

/* Zonas de desplazamiento de los patos */
#Fila1, #Fila2, #Fila3 {
	position: relative;
	width: 100%;
	height: auto;
}

/* Figura del pato */
.Pato{
	display: block;
	width: var(--pato-lengthsquare);
	height: var(--pato-lengthsquare);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-image: url(duck.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 100%;
	border-radius: 40% 60% 50% 50% / 40% 60%;
	animation: anim 8s linear 0s infinite normal;
	transform-origin: 50% 100%;
	transition: opacity .6s ease-in-out, bottom .4s linear;
}
/* Animación del pato */
@keyframes anim {
	 0%   {left: 0%; transform: scalex(-1);}
	10%   {left: 20%;}
	20%   {left: 60%;}
	30%   {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(-1);}
	30.5% {transform: scalex(1);}
	47.5% {left: 20%;}
	50%   {left: 20%;}
	52.5% {left: 20%; transform: scalex(1);}
	53%   {transform: scalex(-1);}
	70%   {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(-1);}
	70.5% {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(1);}
	80%   {left: 60%;}
	90%   {left: 20%;}
	100%  {left: 0%; transform: scalex(1);}
}
#Fila1 .Pato{animation-delay: -2s;transform: scalex(-1);}
#Fila2 .Pato{animation-delay: -8s;}
#Fila3 .Pato{animation-delay: -13s;}

/* Interacción del pato */
.Pato .acertar {
	border-radius: 100%;
	border-radius: 40% 60% 50% 50% / 40% 60%;
	overflow: hidden;
}
.Pato label {
	display: none;
	width: var(--pato-lengthsquare);
	height: var(--pato-lengthsquare);
	cursor: inherit;
}

/* Fondo del pato */
.fondo {
	position: relative;
	width: 100%;
	height: var(--fila-heigh);
	border-top: calc(var(--fila-heigh) / 12) solid #a86227;
	border-bottom: calc(var(--fila-heigh) / 20) solid #d79143;
	box-shadow: inset 0px var(--shadow-length-2) var(--shadow-length-1) calc(var(--shadow-length-1) * -1) #808080cc;
	overflow: hidden;
}
#Fila1 .fondo {border-top: none; height: calc(var(--fila-heigh) * (13 / 12));}
#Fila3 .fondo {border-bottom: none;}

/* Interacción del fondo */
.errar label {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: inherit;
}

/* Lugar donde se ubican las pelotas */
#mostrador {
	position: relative;
	width: 100%;
	height: calc(var(--fila-heigh) / 2);
	background-color: #d79143;
	border-bottom: calc(var(--fila-heigh) / 12) solid #a86227;
	box-shadow: inset 0px calc(var(--shadow-length-1) * -1) var(--shadow-length-1) #0002;
}
.pelota {
	position: absolute;
	display: block;
	width: var(--pelota-lengthsquare);
	height: var(--pelota-lengthsquare);
	margin: calc(var(--pelota-lengthsquare) * (8 / 15));
	border-radius: 100%;
	background-color: whitesmoke;
	box-shadow: var(--pelota-shandow);
	transition: opacity .3s ease-in-out, visibility 0s linear 0s;
}
.pelota:hover {cursor: -webkit-grab; cursor: grab; background-color: white;}
.pelota:active {cursor: -webkit-grabbing; cursor: grabbing;}
.pelota:nth-of-type(1) {left: 36%; margin: calc(var(--pelota-lengthsquare) * (2 / 15));}
.pelota:nth-of-type(2) {left: 43%;}
.pelota:nth-of-type(3) {left: 50%; margin: calc(var(--pelota-lengthsquare) * (3 / 15));}

#pared {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--fila-heigh) * 2);
	box-shadow: inset 0px var(--shadow-length-8) var(--shadow-length-8) calc(var(--fila-heigh) / -10) #0009;
}
/** Botón de reinicio **/
#pared a {
	text-decoration: none;
	color: red;
	border: calc(var(--fila-heigh) * (1 / 60)) solid red;
	padding: calc(var(--fila-heigh) * (3 / 60));
	border-radius: calc(var(--fila-heigh) * (3 / 60));
	font-size: calc(var(--fila-heigh) * (16 / 60));
	background-color: white;
	background: linear-gradient(0deg, rgba(0,0,0,0.0375), rgba(0,0,0,0.0625)), linear-gradient(#FFF, #FFF);
}
#pared a:hover {background: linear-gradient(#FFF, #FFF);}


/******************************************************************/
/*                         Controles                              */
/******************************************************************/

/* Oculto casillas de verificación */
#Carnival-Booth input[hidden] {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: hidden;
}
/* Quito misma pelota seleccionada */
#pelota1:checked ~ #mostrador div .pelota:nth-of-type(1),
#pelota2:checked ~ #mostrador div .pelota:nth-of-type(2),
#pelota3:checked ~ #mostrador div .pelota:nth-of-type(3) {transition: opacity .3s ease-in-out, visibility 0s linear 0.3s; opacity: 0; visibility: hidden;}

/* Habilito los label indicado por pelota seleccionada, así evito usar la misma pelota */
#pelota1:checked ~ #p1patoA:not(:checked) ~ #p1patoB:not(:checked) ~ #p1patoC:not(:checked) ~
#p1errarA:not(:checked) ~ #p1errarB:not(:checked) ~ #p1errarC:not(:checked) ~ div label:nth-of-type(1),
#pelota2:checked ~ #p2patoA:not(:checked) ~ #p2patoB:not(:checked) ~ #p2patoC:not(:checked) ~
#p2errarA:not(:checked) ~ #p2errarB:not(:checked) ~ #p2errarC:not(:checked) ~ div label:nth-of-type(2),
#pelota3:checked ~ #p3patoA:not(:checked) ~ #p3patoB:not(:checked) ~ #p3patoC:not(:checked) ~
#p3errarA:not(:checked) ~ #p3errarB:not(:checked) ~ #p3errarC:not(:checked) ~ div label:nth-of-type(3) {display: block;}

/* Habilito crosshair para pelotas no lanzadas */
#pelota1:checked ~ #p1patoA:not(:checked) ~ #p1patoB:not(:checked) ~ #p1patoC:not(:checked) ~
#p1errarA:not(:checked) ~ #p1errarB:not(:checked) ~ #p1errarC:not(:checked) ~ #game > div,
#pelota2:checked ~ #p2patoA:not(:checked) ~ #p2patoB:not(:checked) ~ #p2patoC:not(:checked) ~
#p2errarA:not(:checked) ~ #p2errarB:not(:checked) ~ #p2errarC:not(:checked) ~ #game > div,
#pelota3:checked ~ #p3patoA:not(:checked) ~ #p3patoB:not(:checked) ~ #p3patoC:not(:checked) ~
#p3errarA:not(:checked) ~ #p3errarB:not(:checked) ~ #p3errarC:not(:checked) ~ #game > div {
	cursor: crosshair;
	cursor: url(crosshair.svg) 24 24,auto;
}

/* Pato abatido */
#p1patoA:checked ~ div #Fila1 .Pato,
#p2patoA:checked ~ div #Fila1 .Pato,
#p3patoA:checked ~ div #Fila1 .Pato,
#p1patoB:checked ~ div #Fila2 .Pato,
#p2patoB:checked ~ div #Fila2 .Pato,
#p3patoB:checked ~ div #Fila2 .Pato,
#p1patoC:checked ~ div #Fila3 .Pato,
#p2patoC:checked ~ div #Fila3 .Pato,
#p3patoC:checked ~ div #Fila3 .Pato {background-image: url(boom-duck.svg); opacity: 0; bottom: calc(var(--pato-lengthsquare) * -1);}

.Pato::after {
	content: "";
	display: block;
	position: absolute;
	top: calc(var(--pato-lengthsquare) / 4);
	right: calc(var(--pato-lengthsquare) / (16 / 11));
	width: var(--pelota-lengthsquare);
	height: var(--pelota-lengthsquare);
	border-radius: 100%;
	background-color: whitesmoke;
	box-shadow: var(--pelota-shandow);
	visibility: hidden;
	transition: top .4s linear, right .3s ease-in-out;
}
#p1patoA:checked ~ div #Fila1 .Pato::after,
#p2patoA:checked ~ div #Fila1 .Pato::after,
#p3patoA:checked ~ div #Fila1 .Pato::after,
#p1patoB:checked ~ div #Fila2 .Pato::after,
#p2patoB:checked ~ div #Fila2 .Pato::after,
#p3patoB:checked ~ div #Fila2 .Pato::after,
#p1patoC:checked ~ div #Fila3 .Pato::after,
#p2patoC:checked ~ div #Fila3 .Pato::after,
#p3patoC:checked ~ div #Fila3 .Pato::after {visibility: visible; right: calc(var(--pato-lengthsquare) / (16 / 11)); top: calc(var(--pato-lengthsquare) * -1);}

/* Desabilito pelotas lanzadas. */
#p1patoA:checked ~ #mostrador label:nth-of-type(1),
#p2patoA:checked ~ #mostrador label:nth-of-type(2),
#p3patoA:checked ~ #mostrador label:nth-of-type(3),
#p1patoB:checked ~ #mostrador label:nth-of-type(1),
#p2patoB:checked ~ #mostrador label:nth-of-type(2),
#p3patoB:checked ~ #mostrador label:nth-of-type(3),
#p1patoC:checked ~ #mostrador label:nth-of-type(1),
#p2patoC:checked ~ #mostrador label:nth-of-type(2),
#p3patoC:checked ~ #mostrador label:nth-of-type(3),
/* Desabilito pelotas erradas. */
#p1errarA:checked ~ #mostrador label:nth-of-type(1),
#p2errarA:checked ~ #mostrador label:nth-of-type(2),
#p3errarA:checked ~ #mostrador label:nth-of-type(3),
#p1errarB:checked ~ #mostrador label:nth-of-type(1),
#p2errarB:checked ~ #mostrador label:nth-of-type(2),
#p3errarB:checked ~ #mostrador label:nth-of-type(3),
#p1errarC:checked ~ #mostrador label:nth-of-type(1),
#p2errarC:checked ~ #mostrador label:nth-of-type(2),
#p3errarC:checked ~ #mostrador label:nth-of-type(3) {display:none;}

/* Aviso pelotas erradas. */
#pelota1:checked ~ #p1errarA:checked ~ div #Fila1 .fondo,
#pelota2:checked ~ #p2errarA:checked ~ div #Fila1 .fondo,
#pelota3:checked ~ #p3errarA:checked ~ div #Fila1 .fondo,
#pelota1:checked ~ #p1errarB:checked ~ div #Fila2 .fondo,
#pelota2:checked ~ #p2errarB:checked ~ div #Fila2 .fondo,
#pelota3:checked ~ #p3errarB:checked ~ div #Fila2 .fondo,
#pelota1:checked ~ #p1errarC:checked ~ div #Fila3 .fondo,
#pelota2:checked ~ #p2errarC:checked ~ div #Fila3 .fondo,
#pelota3:checked ~ #p3errarC:checked ~ div #Fila3 .fondo {animation: errar .2s linear 0s 3 none;}

@keyframes errar {
	  0% {background-color:red;}
	 49% {background-color:red;}
	 51% {background-color:white;}
	100% {background-color:#FFF0;}
}

/* Barra del tiempo */
#Carnival-Booth input[type=radio]:checked ~ #game::before {opacity:1; background-position-x: 0;}

#game::before{
	content: "";
	display: block;
	width: 47.5%;
	height: calc(var(--fila-heigh) / 5);
	position: absolute;
	top: calc(var(--fila-heigh) / (5 / -2));
	left: 2.5%;
	z-index: 3;
	border: 1px solid black;
	border-radius: calc(var(--fila-heigh) / 5);
	background: linear-gradient(#FFF000, #FFF000) no-repeat, linear-gradient(black, black);
	background-color: #FFF000;
	background-position-x: calc(var(--main-width) / (40 / -19));
	opacity: 0;
	transition: opacity .3s ease-in-out, background-position-x 10s linear;
}

/* Desplegar icono de pato abatido */
#Fila1::before, #Fila2::before, #Fila3::before {
	content: "";
	cursor: default;
	display: block;
	width: calc(var(--pato-lengthsquare) / 2);
	height: calc(var(--pato-lengthsquare) / 2);
	position: absolute;
	left: 2.5%;
	z-index: 5;
	background-color: transparent;
	background-image: url(duck.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transform-origin: 50% 100%;
	transform: translate(50%, 50%) rotateX(-90deg);
	opacity:0;
	visibility:hidden;
	transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
#Fila1::before {top: calc(var(--fila-heigh) * -1);}
#Fila2::before {top: calc((var(--fila-heigh) * -2) - (var(--fila-heigh) * (2 / 15))); left: calc((95% / 6) + 2.5%);}
#Fila3::before {top: calc((var(--fila-heigh) * -3) - (var(--fila-heigh) * (4 / 15))); left: calc((95% / 3) + 2.5%);}

/* Desplegar primer icono para un pato abatido */
#p1patoA:checked ~ div #Fila1::before, #p2patoA:checked ~ div #Fila1::before, #p3patoA:checked ~ div #Fila1::before,
#p1patoB:checked ~ div #Fila1::before, #p2patoB:checked ~ div #Fila1::before, #p3patoB:checked ~ div #Fila1::before,
#p1patoC:checked ~ div #Fila1::before, #p2patoC:checked ~ div #Fila1::before, #p3patoC:checked ~ div #Fila1::before,
/* Desplegar segundo icono para dos patos abatidos
 A   B     A   C     B   C
 1 | 2     1 | 2     1 | 2
 1 | 3     1 | 3     1 | 3
 2 | 1     2 | 1     2 | 1
 2 | 3     2 | 3     2 | 3
 3 | 1     3 | 1     3 | 1
 3 | 2     3 | 2     3 | 2 */
#p1patoA:checked ~ #p2patoB:checked ~ div #Fila2::before,
#p1patoA:checked ~ #p3patoB:checked ~ div #Fila2::before,
#p2patoA:checked ~ #p1patoB:checked ~ div #Fila2::before,
#p2patoA:checked ~ #p3patoB:checked ~ div #Fila2::before,
#p3patoA:checked ~ #p1patoB:checked ~ div #Fila2::before,
#p3patoA:checked ~ #p2patoB:checked ~ div #Fila2::before,

#p1patoA:checked ~ #p2patoC:checked ~ div #Fila2::before,
#p1patoA:checked ~ #p3patoC:checked ~ div #Fila2::before,
#p2patoA:checked ~ #p1patoC:checked ~ div #Fila2::before,
#p2patoA:checked ~ #p3patoC:checked ~ div #Fila2::before,
#p3patoA:checked ~ #p1patoC:checked ~ div #Fila2::before,
#p3patoA:checked ~ #p2patoC:checked ~ div #Fila2::before,

#p1patoB:checked ~ #p2patoC:checked ~ div #Fila2::before,
#p1patoB:checked ~ #p3patoC:checked ~ div #Fila2::before,
#p2patoB:checked ~ #p1patoC:checked ~ div #Fila2::before,
#p2patoB:checked ~ #p3patoC:checked ~ div #Fila2::before,
#p3patoB:checked ~ #p1patoC:checked ~ div #Fila2::before,
#p3patoB:checked ~ #p2patoC:checked ~ div #Fila2::before,
/* Desplegar tercer icono para tres patos abatidos */
#p1patoA:checked ~ #p2patoB:checked ~ #p3patoC:checked ~ div #Fila3::before,
#p1patoA:checked ~ #p3patoB:checked ~ #p2patoC:checked ~ div #Fila3::before,
#p2patoA:checked ~ #p1patoB:checked ~ #p3patoC:checked ~ div #Fila3::before,
#p2patoA:checked ~ #p3patoB:checked ~ #p1patoC:checked ~ div #Fila3::before,
#p3patoA:checked ~ #p1patoB:checked ~ #p2patoC:checked ~ div #Fila3::before,
#p3patoA:checked ~ #p2patoB:checked ~ #p1patoC:checked ~ div #Fila3::before {
	opacity:1;
	visibility:visible;
	transform:translate(50%, 50%) rotateX(0deg);
}

/* Cuadro para el mensaje */
#game::after{
	content: "";
	align-items: center;
	justify-content: center;
	font-family:'Comic Sans', 'Comic Sans MS', cursive;
	font-size: calc(var(--fila-heigh) * (12 / 25));
	color: white;
	background-color: #000d;
	display: flex;
	width: 80%;
	height: 80%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: width .3s ease-in-out 10s, height .3s ease-in-out 10s, opacity .3s ease-in-out 10s, visibility 0s linear 10s;
}

/* Inicialización de tiempo para mostrar mensaje */
input[type=radio]#pelota1:checked ~ #game::after,
input[type=radio]#pelota2:checked ~ #game::after,
input[type=radio]#pelota3:checked ~ #game::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
}

/* Perdistes (sin tiempo) */
#p1patoA:not(:checked) + #p2patoA:not(:checked) + #p3patoA:not(:checked) +
#p1patoB:not(:checked) + #p2patoB:not(:checked) + #p3patoB:not(:checked) +
#p1patoC:not(:checked) + #p2patoC:not(:checked) + #p3patoC:not(:checked) ~ #game::after {content: "Perdistes :´(";}
/* Un Pato (sin tiempo) */
#p1patoA:checked ~ #game::after, #p2patoA:checked ~ #game::after, #p3patoA:checked ~ #game::after,
#p1patoB:checked ~ #game::after, #p2patoB:checked ~ #game::after, #p3patoB:checked ~ #game::after,
#p1patoC:checked ~ #game::after, #p2patoC:checked ~ #game::after, #p3patoC:checked ~ #game::after {content: "Un Pato :(";}
/* Dos Patos (sin tiempo)
 A   B     A   C     B   C
 1 | 2     1 | 2     1 | 2
 1 | 3     1 | 3     1 | 3
 2 | 1     2 | 1     2 | 1
 2 | 3     2 | 3     2 | 3
 3 | 1     3 | 1     3 | 1
 3 | 2     3 | 2     3 | 2 */
#p1patoA:checked ~ #p2patoB:checked ~ #game::after,
#p1patoA:checked ~ #p3patoB:checked ~ #game::after,
#p2patoA:checked ~ #p1patoB:checked ~ #game::after,
#p2patoA:checked ~ #p3patoB:checked ~ #game::after,
#p3patoA:checked ~ #p1patoB:checked ~ #game::after,
#p3patoA:checked ~ #p2patoB:checked ~ #game::after,

#p1patoA:checked ~ #p2patoC:checked ~ #game::after,
#p1patoA:checked ~ #p3patoC:checked ~ #game::after,
#p2patoA:checked ~ #p1patoC:checked ~ #game::after,
#p2patoA:checked ~ #p3patoC:checked ~ #game::after,
#p3patoA:checked ~ #p1patoC:checked ~ #game::after,
#p3patoA:checked ~ #p2patoC:checked ~ #game::after,

#p1patoB:checked ~ #p2patoC:checked ~ #game::after,
#p1patoB:checked ~ #p3patoC:checked ~ #game::after,
#p2patoB:checked ~ #p1patoC:checked ~ #game::after,
#p2patoB:checked ~ #p3patoC:checked ~ #game::after,
#p3patoB:checked ~ #p1patoC:checked ~ #game::after,
#p3patoB:checked ~ #p2patoC:checked ~ #game::after{ content: "Dos Patos :|";}

/* Mensaje para cuando todas las pelotas son lanzadas en tiempo */
@keyframes entiempo {
	0% {
		visibility: hidden;
		width:80%;
		height:80%;
		opacity:0;
	}
	100% {
		visibility: visible;
		width:100%;
		height:100%;
		opacity:1;
	}
}

/* ¡Ganastes! */
/*
 A   B   C
 1 | 2 | 3
 1 | 3 | 2
 2 | 1 | 3
 2 | 3 | 1
 3 | 1 | 2
 3 | 2 | 1
*/
#p1patoA:checked ~ #p2patoB:checked ~ #p3patoC:checked ~ #game::after,
#p1patoA:checked ~ #p3patoB:checked ~ #p2patoC:checked ~ #game::after,
#p2patoA:checked ~ #p1patoB:checked ~ #p3patoC:checked ~ #game::after,
#p2patoA:checked ~ #p3patoB:checked ~ #p1patoC:checked ~ #game::after,
#p3patoA:checked ~ #p1patoB:checked ~ #p2patoC:checked ~ #game::after,
#p3patoA:checked ~ #p2patoB:checked ~ #p1patoC:checked ~ #game::after {
	content: "¡Ganastes! :D";
	transition: none;
	animation: entiempo .3s ease-in-out forwards;
}
/* Perdistes */
/*
 A'  B'  C'
 1 | 2 | 3
 1 | 3 | 2
 2 | 1 | 3
 2 | 3 | 1
 3 | 1 | 2
 3 | 2 | 1
*/
#p1errarA:checked ~ #p2errarB:checked ~ #p3errarC:checked ~ #game::after,
#p1errarA:checked ~ #p3errarB:checked ~ #p2errarC:checked ~ #game::after,
#p2errarA:checked ~ #p1errarB:checked ~ #p3errarC:checked ~ #game::after,
#p2errarA:checked ~ #p3errarB:checked ~ #p1errarC:checked ~ #game::after,
#p3errarA:checked ~ #p1errarB:checked ~ #p2errarC:checked ~ #game::after,
#p3errarA:checked ~ #p2errarB:checked ~ #p1errarC:checked ~ #game::after,

/*
 A'  A'  A'    B'  B'  B'    C'  C'  C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
*/
#p1errarA:checked ~ #p2errarA:checked ~ #p3errarA:checked ~ #game::after,
#p1errarB:checked ~ #p2errarB:checked ~ #p3errarB:checked ~ #game::after,
#p1errarC:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after,

/*
 A'  A'  B'    A'  A'  C'
 1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2
 2 | 3 | 1     2 | 3 | 1

 B'  B'  A'    B'  B'  C'
 1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2
 2 | 3 | 1     2 | 3 | 1

 C'  C'  A'    C'  C'  B'
 1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2
 2 | 3 | 1     2 | 3 | 1
*/
#p1errarA:checked ~ #p2errarA:checked ~ #p3errarB:checked ~ #game::after,
#p1errarA:checked ~ #p3errarA:checked ~ #p2errarB:checked ~ #game::after,
#p2errarA:checked ~ #p3errarA:checked ~ #p1errarB:checked ~ #game::after,
#p1errarA:checked ~ #p2errarA:checked ~ #p3errarC:checked ~ #game::after,
#p1errarA:checked ~ #p3errarA:checked ~ #p2errarC:checked ~ #game::after,
#p2errarA:checked ~ #p3errarA:checked ~ #p1errarC:checked ~ #game::after,

#p3errarA:checked ~ #p1errarB:checked ~ #p2errarB:checked ~ #game::after,
#p2errarA:checked ~ #p1errarB:checked ~ #p3errarB:checked ~ #game::after,
#p1errarA:checked ~ #p2errarB:checked ~ #p3errarB:checked ~ #game::after,
#p1errarB:checked ~ #p2errarB:checked ~ #p3errarC:checked ~ #game::after,
#p1errarB:checked ~ #p3errarB:checked ~ #p2errarC:checked ~ #game::after,
#p2errarB:checked ~ #p3errarB:checked ~ #p1errarC:checked ~ #game::after,

#p3errarA:checked ~ #p1errarC:checked ~ #p2errarC:checked ~ #game::after,
#p2errarA:checked ~ #p1errarC:checked ~ #p3errarC:checked ~ #game::after,
#p1errarA:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after,
#p3errarB:checked ~ #p1errarC:checked ~ #p2errarC:checked ~ #game::after,
#p2errarB:checked ~ #p1errarC:checked ~ #p3errarC:checked ~ #game::after,
#p1errarB:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after {
	content: "Perdistes :´(";
	transition: none;
	animation: entiempo .3s ease-in-out forwards;
}

/*
 A   B   A'    A   B   B'    A   B   C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
 2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
 3 | 2 | 1     3 | 2 | 1     3 | 2 | 1

 A   C   A'    A   C   B'    A   C   C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
 2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
 3 | 2 | 1     3 | 2 | 1     3 | 2 | 1

 B   C   A'    B   C   B'    B   C   C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
 2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
 3 | 2 | 1     3 | 2 | 1     3 | 2 | 1
*/
#p1patoA:checked ~ #p2patoB:checked ~ #p3errarA:checked ~ #game::after,
#p1patoA:checked ~ #p3patoB:checked ~ #p2errarA:checked ~ #game::after,
#p2patoA:checked ~ #p1patoB:checked ~ #p3errarA:checked ~ #game::after,
#p2patoA:checked ~ #p3patoB:checked ~ #p1errarA:checked ~ #game::after,
#p3patoA:checked ~ #p1patoB:checked ~ #p2errarA:checked ~ #game::after,
#p3patoA:checked ~ #p2patoB:checked ~ #p1errarA:checked ~ #game::after,

#p1patoA:checked ~ #p2patoB:checked ~ #p3errarB:checked ~ #game::after,
#p1patoA:checked ~ #p3patoB:checked ~ #p2errarB:checked ~ #game::after,
#p2patoA:checked ~ #p1patoB:checked ~ #p3errarB:checked ~ #game::after,
#p2patoA:checked ~ #p3patoB:checked ~ #p1errarB:checked ~ #game::after,
#p3patoA:checked ~ #p1patoB:checked ~ #p2errarB:checked ~ #game::after,
#p3patoA:checked ~ #p2patoB:checked ~ #p1errarB:checked ~ #game::after,

#p1patoA:checked ~ #p2patoB:checked ~ #p3errarC:checked ~ #game::after,
#p1patoA:checked ~ #p3patoB:checked ~ #p2errarC:checked ~ #game::after,
#p2patoA:checked ~ #p1patoB:checked ~ #p3errarC:checked ~ #game::after,
#p2patoA:checked ~ #p3patoB:checked ~ #p1errarC:checked ~ #game::after,
#p3patoA:checked ~ #p1patoB:checked ~ #p2errarC:checked ~ #game::after,
#p3patoA:checked ~ #p2patoB:checked ~ #p1errarC:checked ~ #game::after,


#p1patoA:checked ~ #p2patoC:checked ~ #p3errarA:checked ~ #game::after,
#p1patoA:checked ~ #p3patoC:checked ~ #p2errarA:checked ~ #game::after,
#p2patoA:checked ~ #p1patoC:checked ~ #p3errarA:checked ~ #game::after,
#p2patoA:checked ~ #p3patoC:checked ~ #p1errarA:checked ~ #game::after,
#p3patoA:checked ~ #p1patoC:checked ~ #p2errarA:checked ~ #game::after,
#p3patoA:checked ~ #p2patoC:checked ~ #p1errarA:checked ~ #game::after,

#p1patoA:checked ~ #p2patoC:checked ~ #p3errarB:checked ~ #game::after,
#p1patoA:checked ~ #p3patoC:checked ~ #p2errarB:checked ~ #game::after,
#p2patoA:checked ~ #p1patoC:checked ~ #p3errarB:checked ~ #game::after,
#p2patoA:checked ~ #p3patoC:checked ~ #p1errarB:checked ~ #game::after,
#p3patoA:checked ~ #p1patoC:checked ~ #p2errarB:checked ~ #game::after,
#p3patoA:checked ~ #p2patoC:checked ~ #p1errarB:checked ~ #game::after,

#p1patoA:checked ~ #p2patoC:checked ~ #p3errarC:checked ~ #game::after,
#p1patoA:checked ~ #p3patoC:checked ~ #p2errarC:checked ~ #game::after,
#p2patoA:checked ~ #p1patoC:checked ~ #p3errarC:checked ~ #game::after,
#p2patoA:checked ~ #p3patoC:checked ~ #p1errarC:checked ~ #game::after,
#p3patoA:checked ~ #p1patoC:checked ~ #p2errarC:checked ~ #game::after,
#p3patoA:checked ~ #p2patoC:checked ~ #p1errarC:checked ~ #game::after,


#p1patoB:checked ~ #p2patoC:checked ~ #p3errarA:checked ~ #game::after,
#p1patoB:checked ~ #p3patoC:checked ~ #p2errarA:checked ~ #game::after,
#p2patoB:checked ~ #p1patoC:checked ~ #p3errarA:checked ~ #game::after,
#p2patoB:checked ~ #p3patoC:checked ~ #p1errarA:checked ~ #game::after,
#p3patoB:checked ~ #p1patoC:checked ~ #p2errarA:checked ~ #game::after,
#p3patoB:checked ~ #p2patoC:checked ~ #p1errarA:checked ~ #game::after,

#p1patoB:checked ~ #p2patoC:checked ~ #p3errarB:checked ~ #game::after,
#p1patoB:checked ~ #p3patoC:checked ~ #p2errarB:checked ~ #game::after,
#p2patoB:checked ~ #p1patoC:checked ~ #p3errarB:checked ~ #game::after,
#p2patoB:checked ~ #p3patoC:checked ~ #p1errarB:checked ~ #game::after,
#p3patoB:checked ~ #p1patoC:checked ~ #p2errarB:checked ~ #game::after,
#p3patoB:checked ~ #p2patoC:checked ~ #p1errarB:checked ~ #game::after,

#p1patoB:checked ~ #p2patoC:checked ~ #p3errarC:checked ~ #game::after,
#p1patoB:checked ~ #p3patoC:checked ~ #p2errarC:checked ~ #game::after,
#p2patoB:checked ~ #p1patoC:checked ~ #p3errarC:checked ~ #game::after,
#p2patoB:checked ~ #p3patoC:checked ~ #p1errarC:checked ~ #game::after,
#p3patoB:checked ~ #p1patoC:checked ~ #p2errarC:checked ~ #game::after,
#p3patoB:checked ~ #p2patoC:checked ~ #p1errarC:checked ~ #game::after {
	content: "Dos Patos :|";
	transition: none;
	animation: entiempo .3s ease-in-out forwards;
}
/*
 A   A'  A'    A   B'  B'    A   C'  C'    A   A'  B'    A   A'  C'    A   B'  C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3     1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2     2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
                                           2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
                                           3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
                                           3 | 2 | 1     3 | 2 | 1     3 | 2 | 1

 B   A'  A'    B   B'  B'    B   C'  C'    B   A'  B'    B   A'  C'    B   B'  C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3     1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2     2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
                                           2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
                                           3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
                                           3 | 2 | 1     3 | 2 | 1     3 | 2 | 1

 C   A'  A'    C   B'  B'    C   C'  C'    C   A'  B'    C   A'  C'    C   B'  C'
 1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3     1 | 2 | 3
 2 | 1 | 3     2 | 1 | 3     2 | 1 | 3     1 | 3 | 2     1 | 3 | 2     1 | 3 | 2
 3 | 1 | 2     3 | 1 | 2     3 | 1 | 2     2 | 1 | 3     2 | 1 | 3     2 | 1 | 3
                                           2 | 3 | 1     2 | 3 | 1     2 | 3 | 1
                                           3 | 1 | 2     3 | 1 | 2     3 | 1 | 2
                                           3 | 2 | 1     3 | 2 | 1     3 | 2 | 1
*/

#p1patoA:checked ~ #p2errarA:checked ~ #p3errarA:checked ~ #game::after,
#p2patoA:checked ~ #p1errarA:checked ~ #p3errarA:checked ~ #game::after,
#p3patoA:checked ~ #p1errarA:checked ~ #p2errarA:checked ~ #game::after,

#p1patoA:checked ~ #p2errarB:checked ~ #p3errarB:checked ~ #game::after,
#p2patoA:checked ~ #p1errarB:checked ~ #p3errarB:checked ~ #game::after,
#p3patoA:checked ~ #p1errarB:checked ~ #p2errarB:checked ~ #game::after,

#p1patoA:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after,
#p2patoA:checked ~ #p1errarC:checked ~ #p3errarC:checked ~ #game::after,
#p3patoA:checked ~ #p1errarC:checked ~ #p2errarC:checked ~ #game::after,

#p1patoA:checked ~ #p2errarA:checked ~ #p3errarB:checked ~ #game::after,
#p1patoA:checked ~ #p3errarA:checked ~ #p2errarB:checked ~ #game::after,
#p2patoA:checked ~ #p1errarA:checked ~ #p3errarB:checked ~ #game::after,
#p2patoA:checked ~ #p3errarA:checked ~ #p1errarB:checked ~ #game::after,
#p3patoA:checked ~ #p1errarA:checked ~ #p2errarB:checked ~ #game::after,
#p3patoA:checked ~ #p2errarA:checked ~ #p1errarB:checked ~ #game::after,

#p1patoA:checked ~ #p2errarA:checked ~ #p3errarC:checked ~ #game::after,
#p1patoA:checked ~ #p3errarA:checked ~ #p2errarC:checked ~ #game::after,
#p2patoA:checked ~ #p1errarA:checked ~ #p3errarC:checked ~ #game::after,
#p2patoA:checked ~ #p3errarA:checked ~ #p1errarC:checked ~ #game::after,
#p3patoA:checked ~ #p1errarA:checked ~ #p2errarC:checked ~ #game::after,
#p3patoA:checked ~ #p2errarA:checked ~ #p1errarC:checked ~ #game::after,

#p1patoA:checked ~ #p2errarB:checked ~ #p3errarC:checked ~ #game::after,
#p1patoA:checked ~ #p3errarB:checked ~ #p2errarC:checked ~ #game::after,
#p2patoA:checked ~ #p1errarB:checked ~ #p3errarC:checked ~ #game::after,
#p2patoA:checked ~ #p3errarB:checked ~ #p1errarC:checked ~ #game::after,
#p3patoA:checked ~ #p1errarB:checked ~ #p2errarC:checked ~ #game::after,
#p3patoA:checked ~ #p2errarB:checked ~ #p1errarC:checked ~ #game::after,
/*
-----
*/
#p1patoB:checked ~ #p2errarA:checked ~ #p3errarA:checked ~ #game::after,
#p2patoB:checked ~ #p1errarA:checked ~ #p3errarA:checked ~ #game::after,
#p3patoB:checked ~ #p1errarA:checked ~ #p2errarA:checked ~ #game::after,

#p1patoB:checked ~ #p2errarB:checked ~ #p3errarB:checked ~ #game::after,
#p2patoB:checked ~ #p1errarB:checked ~ #p3errarB:checked ~ #game::after,
#p3patoB:checked ~ #p1errarB:checked ~ #p2errarB:checked ~ #game::after,

#p1patoB:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after,
#p2patoB:checked ~ #p1errarC:checked ~ #p3errarC:checked ~ #game::after,
#p3patoB:checked ~ #p1errarC:checked ~ #p2errarC:checked ~ #game::after,

#p1patoB:checked ~ #p2errarA:checked ~ #p3errarB:checked ~ #game::after,
#p1patoB:checked ~ #p3errarA:checked ~ #p2errarB:checked ~ #game::after,
#p2patoB:checked ~ #p1errarA:checked ~ #p3errarB:checked ~ #game::after,
#p2patoB:checked ~ #p3errarA:checked ~ #p1errarB:checked ~ #game::after,
#p3patoB:checked ~ #p1errarA:checked ~ #p2errarB:checked ~ #game::after,
#p3patoB:checked ~ #p2errarA:checked ~ #p1errarB:checked ~ #game::after,

#p1patoB:checked ~ #p2errarA:checked ~ #p3errarC:checked ~ #game::after,
#p1patoB:checked ~ #p3errarA:checked ~ #p2errarC:checked ~ #game::after,
#p2patoB:checked ~ #p1errarA:checked ~ #p3errarC:checked ~ #game::after,
#p2patoB:checked ~ #p3errarA:checked ~ #p1errarC:checked ~ #game::after,
#p3patoB:checked ~ #p1errarA:checked ~ #p2errarC:checked ~ #game::after,
#p3patoB:checked ~ #p2errarA:checked ~ #p1errarC:checked ~ #game::after,

#p1patoB:checked ~ #p2errarB:checked ~ #p3errarC:checked ~ #game::after,
#p1patoB:checked ~ #p3errarB:checked ~ #p2errarC:checked ~ #game::after,
#p2patoB:checked ~ #p1errarB:checked ~ #p3errarC:checked ~ #game::after,
#p2patoB:checked ~ #p3errarB:checked ~ #p1errarC:checked ~ #game::after,
#p3patoB:checked ~ #p1errarB:checked ~ #p2errarC:checked ~ #game::after,
#p3patoB:checked ~ #p2errarB:checked ~ #p1errarC:checked ~ #game::after,
/*
-----
*/
#p1patoC:checked ~ #p2errarA:checked ~ #p3errarA:checked ~ #game::after,
#p2patoC:checked ~ #p1errarA:checked ~ #p3errarA:checked ~ #game::after,
#p3patoC:checked ~ #p1errarA:checked ~ #p2errarA:checked ~ #game::after,

#p1patoC:checked ~ #p2errarB:checked ~ #p3errarB:checked ~ #game::after,
#p2patoC:checked ~ #p1errarB:checked ~ #p3errarB:checked ~ #game::after,
#p3patoC:checked ~ #p1errarB:checked ~ #p2errarB:checked ~ #game::after,

#p1patoC:checked ~ #p2errarC:checked ~ #p3errarC:checked ~ #game::after,
#p2patoC:checked ~ #p1errarC:checked ~ #p3errarC:checked ~ #game::after,
#p3patoC:checked ~ #p1errarC:checked ~ #p2errarC:checked ~ #game::after,

#p1patoC:checked ~ #p2errarA:checked ~ #p3errarB:checked ~ #game::after,
#p1patoC:checked ~ #p3errarA:checked ~ #p2errarB:checked ~ #game::after,
#p2patoC:checked ~ #p1errarA:checked ~ #p3errarB:checked ~ #game::after,
#p2patoC:checked ~ #p3errarA:checked ~ #p1errarB:checked ~ #game::after,
#p3patoC:checked ~ #p1errarA:checked ~ #p2errarB:checked ~ #game::after,
#p3patoC:checked ~ #p2errarA:checked ~ #p1errarB:checked ~ #game::after,

#p1patoC:checked ~ #p2errarA:checked ~ #p3errarC:checked ~ #game::after,
#p1patoC:checked ~ #p3errarA:checked ~ #p2errarC:checked ~ #game::after,
#p2patoC:checked ~ #p1errarA:checked ~ #p3errarC:checked ~ #game::after,
#p2patoC:checked ~ #p3errarA:checked ~ #p1errarC:checked ~ #game::after,
#p3patoC:checked ~ #p1errarA:checked ~ #p2errarC:checked ~ #game::after,
#p3patoC:checked ~ #p2errarA:checked ~ #p1errarC:checked ~ #game::after,

#p1patoC:checked ~ #p2errarB:checked ~ #p3errarC:checked ~ #game::after,
#p1patoC:checked ~ #p3errarB:checked ~ #p2errarC:checked ~ #game::after,
#p2patoC:checked ~ #p1errarB:checked ~ #p3errarC:checked ~ #game::after,
#p2patoC:checked ~ #p3errarB:checked ~ #p1errarC:checked ~ #game::after,
#p3patoC:checked ~ #p1errarB:checked ~ #p2errarC:checked ~ #game::after,
#p3patoC:checked ~ #p2errarB:checked ~ #p1errarC:checked ~ #game::after {
	content: "Un Pato :(";
	transition: none;
	animation: entiempo .3s ease-in-out forwards;
}
