@charset "UTF-8";

:root {
	--main-time-out-game: 7s;
	/* --main-length-min: 100vmin; */
	--main-width: calc((var(--main-length-min, 640px) - 16px) * (75 / 104));
	--fila-heigh: calc(var(--main-width) / 5);
	--pato-lengthsquare: calc(var(--fila-heigh) * (4 / 5));
	--pelota-lengthsquare: calc(var(--fila-heigh) / 4);
	--shadow-length-1: calc(var(--fila-heigh) / 60);
	--shadow-length-2: calc(var(--fila-heigh) / 30);
	--shadow-length-4: calc(var(--fila-heigh) / 15);
	--shadow-length-8: calc(var(--fila-heigh) * (2 / 15));
	--pelota-shandow: var(--shadow-length-1) var(--shadow-length-4) var(--shadow-length-1) 0px #0008, inset calc(var(--shadow-length-1) * -1) calc(var(--shadow-length-4) * -1) var(--shadow-length-2) calc(var(--shadow-length-2) * -1) #0008;
	--trans-time: .3s;
	--trans-opacity: opacity var(--trans-time) ease-in-out;
	--trans-delay-vis: visibility 0s linear var(--trans-time);
}

body {
	margin: 8px;
}

#Carnival-Booth {
	position: relative;
	margin: auto;
	width: var(--main-width);
	box-shadow: 0px var(--shadow-length-1) var(--shadow-length-1) #0008;
	overflow: hidden;
}

/* Patrón principal */
#techo, #pared {
	background: linear-gradient(0deg, rgba(0,0,0,0.0375), rgba(0,0,0,0.0625)),
		    linear-gradient(90deg, red 0, red calc(100% / 9), white 0, white calc(200% / 9),
					   red 0, red calc(300% / 9), white 0, white calc(400% / 9),
					   red 0, red calc(500% / 9), white 0, white calc(600% / 9),
					   red 0, red calc(700% / 9), white 0, white calc(800% / 9),
					   red 0, red 100%);
}

#techo {
	display: flex;
	width: 100%;
	height: var(--fila-heigh);
}

#techo div {
	display: block;
	float: left;
	width: calc(100% / 9);
	height: calc(var(--main-width) / 18);
	margin-top: calc(var(--fila-heigh) - 1px);
	border-top: 1px solid;
	border-bottom-left-radius: calc(var(--main-width) / 9);
	border-bottom-right-radius: calc(var(--main-width) / 9);
	box-shadow: var(--shadow-length-1) var(--shadow-length-1) var(--shadow-length-1) #0008;
	z-index: 2;
	transform-origin: 0% 0%;
	animation: brisa 10s ease-in-out infinite alternate;
}
#techo div:nth-child(odd) {background-color: #ea0000; border-top-color: #ea0000;}
#techo div:nth-child(even) {background-color: #eaeaea; border-top-color: #eaeaea;}

/* Efecto de viento suave */
@keyframes brisa {
	  0% {transform: scaleY(1.00);}
	  2% {transform: scaleY(0.98);}
	  4% {transform: scaleY(1.00);}
	  6% {transform: scaleY(0.99);}
	  8% {transform: scaleY(0.99);}
	 10% {transform: scaleY(1.00);}
	 12% {transform: scaleY(1.00);}
	 14% {transform: scaleY(1.00);}
	 16% {transform: scaleY(1.00);}
	 18% {transform: scaleY(0.96);}
	 20% {transform: scaleY(0.92);}
	 22% {transform: scaleY(0.98);}
	 24% {transform: scaleY(0.71);}
	 26% {transform: scaleY(0.95);}
	 28% {transform: scaleY(0.96);}
	 30% {transform: scaleY(0.93);}
	 32% {transform: scaleY(1.00);}
	 34% {transform: scaleY(0.98);}
	 36% {transform: scaleY(0.87);}
	 38% {transform: scaleY(0.98);}
	 40% {transform: scaleY(0.89);}
	 42% {transform: scaleY(0.90);}
	 44% {transform: scaleY(0.95);}
	 46% {transform: scaleY(0.77);}
	 48% {transform: scaleY(0.89);}
	 50% {transform: scaleY(0.99);}
	 52% {transform: scaleY(0.92);}
	 54% {transform: scaleY(0.97);}
	 56% {transform: scaleY(0.94);}
	 58% {transform: scaleY(0.70);}
	 60% {transform: scaleY(0.76);}
	 62% {transform: scaleY(0.79);}
	 64% {transform: scaleY(0.82);}
	 66% {transform: scaleY(0.96);}
	 68% {transform: scaleY(0.96);}
	 70% {transform: scaleY(0.98);}
	 72% {transform: scaleY(0.98);}
	 74% {transform: scaleY(0.97);}
	 76% {transform: scaleY(0.97);}
	 78% {transform: scaleY(0.95);}
	 80% {transform: scaleY(0.95);}
	 82% {transform: scaleY(0.98);}
	 84% {transform: scaleY(1.00);}
	 86% {transform: scaleY(0.97);}
	 88% {transform: scaleY(0.96);}
	 90% {transform: scaleY(0.95);}
	 92% {transform: scaleY(0.94);}
	 94% {transform: scaleY(0.94);}
	 96% {transform: scaleY(0.98);}
	 98% {transform: scaleY(0.99);}
	100% {transform: scaleY(1.00);}
}
#techo div:nth-child(1) {animation-delay:  0.0s;}
#techo div:nth-child(2) {animation-delay:  0.1s;}
#techo div:nth-child(3) {animation-delay:  0.2s;}
#techo div:nth-child(4) {animation-delay:  0.3s;}
#techo div:nth-child(5) {animation-delay: -3.0s;}
#techo div:nth-child(6) {animation-delay: -2.9s;}
#techo div:nth-child(7) {animation-delay: -2.7s;}
#techo div:nth-child(8) {animation-delay: -2.6s;}
#techo div:nth-child(9) {animation-delay: -2.5s;}

/* Zona de objetivos */
#game {
	width: 100%;
	background-color: skyblue;
	position: relative;
}

/* Zonas de desplazamiento de los patos */
#Fila1, #Fila2, #Fila3 {
	position: relative;
	width: 100%;
	height: auto;
}

/* Fondo del pato */
.fondo {
	position: relative;
	width: 100%;
	height: var(--fila-heigh);
	border-top: calc(var(--fila-heigh) / 12) solid #a86227;
	border-bottom: calc(var(--fila-heigh) / 20) solid #d79143;
	box-shadow: inset 0px var(--shadow-length-2) var(--shadow-length-1) calc(var(--shadow-length-1) * -1) #808080cc;
	overflow: hidden;
}
#Fila1 .fondo {border-top: none; height: calc(var(--fila-heigh) * (13 / 12));}
#Fila3 .fondo {border-bottom: none;}

/* Figura del pato */
.Pato {
	display: block;
	width: var(--pato-lengthsquare);
	height: var(--pato-lengthsquare);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-image: url(duck.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 100%;
	border-radius: 40% 60% 50% 50% / 40% 60%;
	animation: anim 8s linear 0s infinite normal;
	transform-origin: 50% 100%;
}

/* Animación del pato */
@keyframes anim {
	0%    {left: 0%; transform: scalex(-1);}
	10%   {left: 20%;}
	20%   {left: 60%;}
	30%   {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(-1);}
	30.5% {transform: scalex(1);}
	47.5% {left: 20%;}
	52.5% {left: 20%; transform: scalex(1);}
	53%   {transform: scalex(-1);}
	70%   {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(-1);}
	70.5% {left: calc(100% - var(--pato-lengthsquare)); transform: scalex(1);}
	80%   {left: 60%;}
	90%   {left: 20%;}
	99.5% {transform: scalex(1);}
	100%  {left: 0%; transform: scalex(-1);}
}
#Fila1 .Pato {animation-delay: -2s; transform: scalex(-1);}
#Fila2 .Pato {animation-delay: -8s;}
#Fila3 .Pato {animation-delay: -13s;}

/* Interacción del pato */
.Pato .acertar {
	border-radius: inherit;
	height: inherit;
	overflow: hidden;
}

.Pato .acertar label {
	display: none;
}

/* Interacción del fondo */
.errar label {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

/* Zona de pelotas */
#mostrador {
	position: relative;
	height: calc(var(--fila-heigh) / 2);
	background-color: #d79143;
	border-bottom: calc(var(--fila-heigh) / 12) solid #a86227;
	box-shadow: inset 0px calc(var(--shadow-length-1) * -1) var(--shadow-length-1) #0002;
}

.pelota {
	display: block;
	position: absolute;
	width: var(--pelota-lengthsquare);
	height: var(--pelota-lengthsquare);
	margin: calc(var(--pelota-lengthsquare) * (8 / 15));
	border-radius: 100%;
	background-color: whitesmoke;
	box-shadow: var(--pelota-shandow);
	transition: var(--trans-opacity);
}
#mostrador .pelota:nth-child(1) {left: 36%; margin: calc(var(--pelota-lengthsquare) * (2 / 15));}
#mostrador .pelota:nth-child(2) {left: 43%;}
#mostrador .pelota:nth-child(3) {left: 50%; margin: calc(var(--pelota-lengthsquare) * (3 / 15));}

.pelota:hover {
	background-color: white;
	cursor: -webkit-grab;
	cursor: grab;
}

.pelota:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}


#pared {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--fila-heigh) * 2);
	box-shadow: inset 0px var(--shadow-length-8) var(--shadow-length-8) calc(var(--fila-heigh) / -10) #0009;
}

/* Botón de reinicio */
#pared input[type="reset"] {
	font: italic small-caps bold calc(var(--fila-heigh) * (16 / 60))/130% 'Comic Neue', 'Comic Sans', 'Comic Sans MS', cursive;
	color: red;
	padding: calc(var(--fila-heigh) * (3 / 60));
	border: calc(var(--fila-heigh) * (1 / 60)) solid red;
	border-radius: calc(var(--fila-heigh) * (3 / 60));
	background-image: linear-gradient(0deg, rgba(0,0,0,0.0375), rgba(0,0,0,0.0625)), white;
	opacity: 0;
	visibility: hidden;
}

#pared input[type="reset"]:hover {
	background-color: white;
}

#pared input[type="reset"]:focus {
	transition: var(--trans-opacity), var(--trans-delay-vis);
}


/**************************************************************************************************/
/*                                           Controles                                            */
/**************************************************************************************************/

/* Oculta casillas de verificación */
#Carnival-Booth input[hidden] {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: hidden;
	opacity: 0;
}

/* Muestra el botón de reinicio al iniciar el juego */
#Carnival-Booth input:checked ~ #pared input[type="reset"] {
	opacity: 1;
	visibility: visible;
	transition: var(--trans-opacity);
}

/* Efecto de quitar pelota seleccionada */
#pelota1:checked ~ #mostrador div .pelota:nth-of-type(1),
#pelota2:checked ~ #mostrador div .pelota:nth-of-type(2),
#pelota3:checked ~ #mostrador div .pelota:nth-of-type(3) {
	opacity: 0;
	visibility: hidden;
	transition: var(--trans-opacity), var(--trans-delay-vis);
}

/* Habilita el label correspondiente a la pelota seleccionada y sin lanzar */
#pelota1:checked ~ #p1patoA:not(:checked) ~ #p1patoB:not(:checked) ~ #p1patoC:not(:checked) ~ #p1errarA:not(:checked) ~ #p1errarB:not(:checked) ~ #p1errarC:not(:checked) ~ #game label:nth-of-type(1),
#pelota2:checked ~ #p2patoA:not(:checked) ~ #p2patoB:not(:checked) ~ #p2patoC:not(:checked) ~ #p2errarA:not(:checked) ~ #p2errarB:not(:checked) ~ #p2errarC:not(:checked) ~ #game label:nth-of-type(2),
#pelota3:checked ~ #p3patoA:not(:checked) ~ #p3patoB:not(:checked) ~ #p3patoC:not(:checked) ~ #p3errarA:not(:checked) ~ #p3errarB:not(:checked) ~ #p3errarC:not(:checked) ~ #game label:nth-of-type(3) {
	display: block;
	width: 100%;
	height: 100%;
	cursor: crosshair;
	cursor: url(crosshair.svg) 24 24, auto;
}

/* Efecto de pato abatido */
[id$="patoA"]:checked ~ div #Fila1 .Pato,
[id$="patoB"]:checked ~ div #Fila2 .Pato,
[id$="patoC"]:checked ~ div #Fila3 .Pato {
	background-image: url(boom-duck.svg);
	bottom: calc(var(--pato-lengthsquare) / -0.75);
	opacity: 0;
	transition: opacity .5s ease-in, bottom .6s linear;
}

/* Efecto del impacto de la pelota */
.Pato::after {
	content: "";
	display: block;
	position: absolute;
	top: calc(var(--pato-lengthsquare) / 4);
	right: calc(var(--pato-lengthsquare) / (16 / 11));
	width: var(--pelota-lengthsquare);
	height: var(--pelota-lengthsquare);
	border-radius: 100%;
	background-color: whitesmoke;
	box-shadow: var(--pelota-shandow);
	visibility: hidden;
	transition: top .6s cubic-bezier(.25,.5,.5,.75);
}

[id$="patoA"]:checked ~ div #Fila1 .Pato::after,
[id$="patoB"]:checked ~ div #Fila2 .Pato::after,
[id$="patoC"]:checked ~ div #Fila3 .Pato::after {
	top: calc(var(--pato-lengthsquare) * -1);
	visibility: visible;
}

/* Deshabilita pelotas lanzadas */
[id^="p1pato"]:checked ~ #mostrador label:nth-of-type(1),
[id^="p2pato"]:checked ~ #mostrador label:nth-of-type(2),
[id^="p3pato"]:checked ~ #mostrador label:nth-of-type(3),
/* Deshabilita pelotas erradas */
[id^="p1errar"]:checked ~ #mostrador label:nth-of-type(1),
[id^="p2errar"]:checked ~ #mostrador label:nth-of-type(2),
[id^="p3errar"]:checked ~ #mostrador label:nth-of-type(3) {
	opacity: 0;
	visibility: hidden;
}

/* Avisa pelotas erradas */
#pelota1:checked ~ #p1errarA:checked ~ div #Fila1 .fondo,
#pelota2:checked ~ #p2errarA:checked ~ div #Fila1 .fondo,
#pelota3:checked ~ #p3errarA:checked ~ div #Fila1 .fondo,
#pelota1:checked ~ #p1errarB:checked ~ div #Fila2 .fondo,
#pelota2:checked ~ #p2errarB:checked ~ div #Fila2 .fondo,
#pelota3:checked ~ #p3errarB:checked ~ div #Fila2 .fondo,
#pelota1:checked ~ #p1errarC:checked ~ div #Fila3 .fondo,
#pelota2:checked ~ #p2errarC:checked ~ div #Fila3 .fondo,
#pelota3:checked ~ #p3errarC:checked ~ div #Fila3 .fondo {
	animation: fallar .2s linear 0s 3 none;
}

@keyframes fallar {
	0%, 49% {background-color: red;}
	50%     {background-color: white;}
	100%    {background-color: transparent;}
}

/* Indicador de pato abatido */
#Fila1::before, #Fila2::before, #Fila3::before {
	content: "";
	cursor: default;
	display: block;
	width: calc(var(--pato-lengthsquare) / 2);
	height: calc(var(--pato-lengthsquare) / 2);
	position: absolute;
	left: 2.5%;
	z-index: 2;
	background: url(duck.svg) left/contain no-repeat;
	transform-origin: 50% 100%;
	transform: translate(50%, 50%) rotateX(-90deg);
	opacity: 0;
	visibility: hidden;
	/* Pliega icono de pato abatido (reinicio) */
	transition: var(--trans-opacity), transform var(--trans-time) ease-in-out, var(--trans-delay-vis);
}
#Fila1::before {top: calc(var(--fila-heigh) * -1);}
#Fila2::before {top: calc((var(--fila-heigh) * -2) - (var(--fila-heigh) * (2 / 15))); left: calc((95% / 6) + 2.5%);}
#Fila3::before {top: calc((var(--fila-heigh) * -3) - (var(--fila-heigh) * (4 / 15))); left: calc((95% / 3) + 2.5%);}

/* Despliega un icono para cada pato abatido */
[id*="pato"]:checked ~ div #Fila1::before,
[id*="pato"]:checked ~ [id*="pato"]:checked ~ div #Fila2::before,
[id*="pato"]:checked ~ [id*="pato"]:checked ~ [id*="pato"]:checked ~ div #Fila3::before {
	opacity: 1;
	visibility: visible;
	transform: translate(50%, 50%) rotateX(0deg);
	transition: var(--trans-opacity), transform var(--trans-time) ease-in-out;
}

/* Bonificación y penalización de tiempo */
[id*="pato"]:checked ~ #game {
	--more-time: 1s;
}

[id*="pato"]:checked ~ [id*="pato"]:checked ~ #game {
	--more-time: 2s;
}

[id*="pato"]:checked ~ [id*="pato"]:checked ~ [id*="pato"]:checked ~ #game {
	--more-time: 3s;
}

[id*="errar"]:checked ~ #game {
	--minus-time: -1s;
}

[id*="errar"]:checked ~ [id*="errar"]:checked ~ #game {
	--minus-time: -2s;
}

[id*="errar"]:checked ~ [id*="errar"]:checked ~ [id*="errar"]:checked ~ #game {
	--minus-time: -3s;
}

/* Indicador de tiempo sumado o restado */
#Fila1::after {
    content: "";
	display: block;
	font: normal bold calc(var(--fila-heigh) / 5)/100% 'Kulim Park', 'Comic Sans', 'Comic Sans MS', cursive;
	position: absolute;
	top: calc(var(--fila-heigh) / (5 / -2));
	right: 50%;
	width: auto;
	height: calc(var(--fila-heigh) / 5);
	border: calc(var(--fila-heigh) / 36) solid transparent;
	z-index: 3;
	opacity: 1;
	visibility: hidden;
	transition: opacity .2s ease-out calc(var(--trans-time) - .2s);
}

[id*="pato"]:checked:focus ~ #game #Fila1::after {
	color: #00ff00;
	content: "+1";
	opacity: 0;
	visibility: visible;
}

[id*="errar"]:checked:focus ~ #game #Fila1::after {
	color: red;
	content: "-1";
	opacity: 0;
	visibility: visible;
}

/* Barra de tiempo */
#game::before {
	content: "";
	display: block;
	position: absolute;
	top: calc(var(--fila-heigh) / (5 / -2));
	left: 2.5%;
	width: 47.5%;
	z-index: 3;
	height: calc(var(--fila-heigh) / 5);
	border: calc(var(--fila-heigh) / 36) solid black;
	border-radius: calc(var(--fila-heigh) / 5);
	background: linear-gradient(#fff000, #fff000) no-repeat, black;
	background-position: calc(var(--main-width) / (40 / -19));
	opacity: 0;
	transition: var(--trans-opacity);
}

#Carnival-Booth input:checked ~ #game::before {
	opacity: 1;
	animation: fillOutBar var(--main-time-out-game) linear forwards;
	animation-delay: calc(var(--more-time, 0s) + var(--minus-time, 0s));
}

@keyframes fillOutBar {
	to {background-position: initial;}
}

/* Pausa la barra de tiempo después de tres lanzamientos */
#Carnival-Booth input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ #game::before {
	animation-play-state: paused;
}

/* Cuadro para el mensaje */
#game::after {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	font-family:'Comic Neue', 'Comic Sans', 'Comic Sans MS', cursive;
	font-size: calc(var(--fila-heigh) * (12 / 25));
	color: white;
	background-color: #000d;
	width: 80%;
	height: 80%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

/* Inicialización de tiempo para mostrar mensaje */
[name="pelota"]:checked ~ #game::after {
	animation: maxTiempo var(--trans-time) ease-in-out calc(var(--main-time-out-game) + var(--more-time, 0s) + var(--minus-time, 0s)) forwards;
}

@keyframes maxTiempo {
	100% {
		width:100%;
		height:100%;
		opacity:1;
		visibility: visible;
	}
}

#game::after { /* 0 patos (sin tiempo) */
	content: "¡Uy! Que pena";
}

[id*="pato"]:checked ~ #game::after { /* 1 pato (sin tiempo) */
	content: "Algo es algo";
}

[id*="pato"]:checked ~ [id*="pato"]:checked ~ #game::after { /* 2 patos (sin tiempo) */
	content: "¡A un tiro!";
}

/* Mostrar mensaje para cuando todas las pelotas son lanzadas en tiempo */
input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ input[type="checkbox"]:checked ~ #game::after {
	animation: none;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	transition: all var(--trans-time) ease-in-out;
}

[id*="errar"]:checked ~ [id*="errar"]:checked ~ [id*="errar"]:checked ~ #game::after { /* 0 patos */
	content: "Peor que nada";
}

[id*="pato"]:checked ~ [id*="errar"]:checked ~ [id*="errar"]:checked ~ #game::after { /* 1 pato */
	content: "Ni de cerca";
}

[id*="pato"]:checked ~ [id*="pato"]:checked ~ [id*="errar"]:checked ~ #game::after { /* 2 patos */
	content: "¡Por un pato!";
}

[id*="pato"]:checked ~ [id*="pato"]:checked ~ [id*="pato"]:checked ~ #game::after { /* 3 patos */
	content: "¡Vaya puntería!";
}
